body {
  scroll-behavior: smooth;
}

/** theme colors **/
.mint {
  color:#ACD2C3;
}

.light-grey {
  color:#b4b4b4;
}

.bg-dark-grey  {
  background-color: #0f0f0f;
}

.bg-grey {
  background-color:#181818;
}

.text-secondary {
  color:rgb(180, 180, 180) !important;
}





/** header styling and media queries **/ 
#header {
  height: 100vh;
  background: #181818 url("../images/greylap.jpg") fixed center no-repeat;
  background-size: cover;
  overflow-y: auto;
}

#topString {
  margin-top: 8rem;
}

.headerText {
  font-size: 1.9em;
}

.headerBp {
  display: none;
}

@media screen and (min-width: 375px) {.headerText {font-size: 2.8em;}}
@media screen and (min-width: 413px) {.headerText {font-size: 3.1em;}}
@media screen and (min-width: 566px) and (max-height: 321px) {.headerText {font-size: 2.2em;} #topString {margin-top: 3em;}}
@media screen and (min-width: 665px) and (max-height: 376px) {.headerText {font-size: 2.3em;} #topString {margin-top: 3.5em;}}
@media screen and (min-width: 693px) and (max-height: 769px) {.headerText {font-size: 3.9em;} #topString {margin-top: 7.5em;}}
@media screen and (min-width: 735px) and (max-height: 415px) {.headerText {font-size: 2.7em;} #topString {margin-top: 3.5em;} .headerBp {display: block !important;}}
@media screen and (min-width: 767px) and (max-height: 1025px) {.headerText {font-size: 4.5em;} #topString {margin-top: 10.5em;}}
@media screen and (min-width: 833px) and (max-height: 1113px) {.headerText {font-size: 5.3em;} #topString {margin-top: 10.5em;}}
@media screen and (min-width: 1023px) and (max-height: 769px) {.headerText {font-size: 4.6em;} #topString {margin-top: 8em;} .headerBp {display: block !important;}}
@media screen and (min-width: 1023px) and (max-height: 1367px) and  (min-height:800px){.headerText {font-size: 5.9em;} #topString {margin-top: 8.5em;} .headerBp {display: block !important;}}
@media screen and (min-width: 1112px) and (max-height: 769px) {.headerText {font-size: 4.6em;} #topString {margin-top: 7.5em;} .headerBp {display: block !important;}}
@media screen and (min-width: 1111px) and (min-height: 833px) {.headerText {font-size: 5em;} #topString {margin-top: 7.5em;}}
@media screen and (min-width: 1599px) and (max-height: 1201px) {.headerText {font-size: 7.1em;} #topString {margin-top: 12.5em;} .headerBp {display: block !important;}}


/** body styling **/

.title-buffer  {
  padding-top:8rem;
  padding-bottom:9rem;
}

.imageContainer {
  position: relative;
  filter: grayscale(100%);
}

.imageContainer:hover {
  filter: none;
}

#skills{
  background: url('../images/greylap.jpg') fixed;
  background-size: cover;
}

#csusbSeal {
  max-width:95px !important; 
  max-height: 95px !important; 
}

.icon-image {
  max-width: 7em !important;
  max-height: 7em !important;
}