body {
  scroll-behavior: smooth;

}

/** header  div  and header text **/ 
#header {
  height: 100vh;
  background: #181818 url("../images/greylap.jpg") fixed center no-repeat;
  background-size: cover;
  overflow-y: auto;
}

#topString {
  margin-top: 8rem;
}

.headerText {
  font-size: 5.5em;
}

.headerBP {
  display: block !important;
}




/** theme colors **/

.mint {
  color:#ACD2C3;
}

.lightGrey {
  color:#b4b4b4;
}